out
**.DS_Store
.idea
*.o
*.a
*.so
.vscode
tools/ethereum/.author
tools/ethereum/.password
tools/ethereum/.unlock
tools/ethereum/.ip
tools/ethereum/.bootnodes
package-lock.json
node_modules*
config.js
.config.js
nohup.out
var
tools/aleth/ethereum
tools/openeth/ethereum
deps/node_modules